# dependencies
/node_modules

# Next.js build output
/.next/
/out/

# TypeScript build cache
tsconfig.tsbuildinfo

# debug
npm-debug.log*

# local env files
.env*.local

# superpowers scratch
.superpowers/
